<!-- Loop over each object in the posts array -->
{{#if posts.length}}
  <div class="col-md-6 post-list list-group">
    <h2>Current posts:</h2>
    {{#each posts}}
      <div class="row mb-2 card">
        <div class="col-md-8 card-header flex-row justify-space-between">
          <h4><a href="/post/{{id}}">{{title}}</a></h4>
          <div>
            Posted by
            {{User.username}}
            on
            {{format_date createdAt}}
          </div>
        </div>
        <div class="card-body">
          {{body}}
        </div>
      </div>
    {{/each}}
  </div>

{{/if}}