
{{!-- a single post based on the id requested --}}
<section class="container">
  <div class="card-body">
    <h2>{{post.title}}</h2>
    <h2>{{post.body}}</h2>
    <h3>Posted by: {{post.user.username}}</h3>
    <h4>Date: {{ format_time post.date }}</h4>
  </div>
</section>

{{#if post.Comments}}
  <section class="card">
    <div class="card-header">
      <h3>Comments</h3>
    <div>
      <div class="card-body">
        {{#each post.Comments}}
          <div>
            <p> {{body}} </p>
          </div>
          <p>{{User.username}}, {{format_date createdAt}}</p>
        </div>
      {{/each}}
    </div>
  </section>
{{/if}}

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="postId" value="{{post.id}}" />

      <label class="form-label" for="commentBody">Comment</label>

      <textarea id="commentBody" name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>